<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/>
    </Console>
    <RollingFile name="file"
        fileName="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}mule-app-cicd-test.log"
        filePattern="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}mule-app-cicd-test-%i.log">
      <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
  </Appenders>

  <Loggers>
    <AsyncLogger name="org.mule.service.http" level="WARN"/>
    <AsyncLogger name="org.mule.extension.http" level="WARN"/>
    <AsyncLogger
        name="org.mule.runtime.core.internal.processor.LoggerMessageProcessor"
        level="INFO"/>

    <AsyncRoot level="INFO">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="file"/>
    </AsyncRoot>
  </Loggers>
</Configuration>
